---

import Layout from '../layouts/Layout.astro';
import Carrusel from '../components/Carrusel.astro';

---
<Layout title="Verde Lima" description="Dietetica">
    <div class=" flex text-center font-bold">
      <Carrusel href="../components/section/Carrusel.astro"></Carrusel>
        <h3 class="text-6xl font-semibold background-color:darkgoldenrod">
         Productos
        </h3>
      </div>
 
  </Layout>