---

import Layout from '../layouts/Layout.astro';

---
<Layout title="Verde Lima" description="Dietetica">
  <div class=" flex text-center font-bold">
    <h3 class="text-6xl font-semibold background-color:darkgoldenrod">
      recetas
    </h3>
  </div>

  <div id="navbar-placeholder"></div>
  <div class="flex-container mt-24 flex justify-center">
    <div class="row">
      <div class="col-6 col-md-4">
        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#Granola">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Barra de Granola</h1>
          <img src="../../public/Granola.png" class="img-fixed rounded" alt="Granola" data-bs-toggle="tooltip"
            title="Ver receta">
        </button>
        <div class="modal fade" id="Granola" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
          aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Barra de Granola</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>

              <div class="modal-body">

                <li> Ingredientes:
                  2 tazas de avena (asegúrate de que sea integral o sin gluten, si es necesario)
                  1 taza de nueces mixtas (almendras, nueces, avellanas, etc.), picadas
                  1/2 taza de semillas (chía, linaza, girasol, etc.)
                  1/2 taza de frutas secas (pasas, dátiles, arándanos secos, etc.), picadas
                  1/4 taza de miel o jarabe de arce (puedes usar sirope de agave para una opción vegana)
                  1/4 taza de mantequilla de almendra o cacahuate (puedes usar otra mantequilla de frutos secos si
                  prefieres)
                  1/2 cucharadita de extracto de vainilla
                  Una pizca de sal
                  Opcional: chispas de chocolate oscuro para añadir al final
                </li>
                <li> Instrucciones:
                  Preparar el molde: Precalienta el horno a 180°C (350°F). Forra una bandeja para hornear (de
                  aproximadamente 20x20 cm) con papel pergamino, dejando que el papel sobresalga por los bordes para
                  facilitar el desmoldeo.
                  Mezclar ingredientes secos: En un bol grande, mezcla la avena, las nueces picadas, las semillas y las
                  frutas secas.
                  Preparar la mezcla húmeda: En una cacerola pequeña, calienta la miel (o jarabe de arce) y la
                  mantequilla de almendra (o cacahuate) a fuego medio, removiendo hasta que estén completamente
                  mezclados y líquidos. Retira del fuego y añade el extracto de vainilla y una pizca de sal.
                  Combinar: Vierte la mezcla húmeda sobre los ingredientes secos y mezcla bien hasta que todo esté bien
                  incorporado y húmedo.
                  Hornear: Transfiere la mezcla a la bandeja preparada, presionándola firmemente con el dorso de una
                  cuchara o con tus manos (puedes usar el fondo de un vaso para facilitar el proceso). Esto es
                  importante para que las barras mantengan su forma al enfriarse.
                  Hornea durante 20-25 minutos, o hasta que los bordes estén dorados y la superficie esté firme. Si
                  decides añadir chispas de chocolate, espolvoréalas sobre la mezcla justo después de sacarla del horno
                  y antes de que se enfríe.
                  Enfriar y cortar: Deja enfriar completamente en la bandeja antes de levantar con el papel pergamino y
                  cortar en barras.
                  Guardar: Puedes guardar las barras en un recipiente hermético a temperatura ambiente durante una
                  semana o en el refrigerador para una mayor frescura.
                </li>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cerrar</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-6 col-md-4">
        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#ensalada">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Ensalada cesar con mani</h1>
          <img src="../../public/ensalada.png" class="img-fixed rounded" alt="ensalada" data-bs-toggle="tooltip"
            title="Ver receta">
        </button>
        <div class="modal fade" id="ensalada" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
          aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>

              <div class="modal-body">
                <li>Ingredientes:
                  Para la ensalada:
                  1 lechuga romana, lavada y troceada
                  1 taza de crutones (pueden ser caseros o comprados)
                  1/4 taza de queso parmesano rallado
                  1/4 taza de maní (cacahuates) tostado y picado
                  Para el aderezo César:
                  1/2 taza de mayonesa
                  1/4 taza de queso parmesano rallado
                  2 dientes de ajo, picados finamente
                  2 cucharadas de jugo de limón
                  1 cucharadita de mostaza Dijon
                  1 cucharadita de salsa Worcestershire
                  100 gramos de mani
                  Sal y pimienta al gusto</li>
                <li> Instrucciones:
                  Preparar el aderezo:
                  En un bol, mezcla la mayonesa con el queso parmesano rallado.
                  Agrega el ajo picado, el jugo de limón, la mostaza Dijon y la salsa Worcestershire.
                  Mezcla bien hasta que todos los ingredientes estén integrados.
                  Sazona con sal y pimienta al gusto. Ajusta los sabores si es necesario.
                  Preparar la ensalada:
                  En un bol grande, coloca la lechuga romana troceada.
                  Agrega los crutones y el queso parmesano rallado.
                  Vierte el aderezo César sobre la lechuga y mezcla bien para que todos los ingredientes queden
                  cubiertos.
                  Justo antes de servir, espolvorea el maní tostado y picado por encima.
                  Servir:
                  Sirve la ensalada inmediatamente para que los crutones se mantengan crujientes y el maní esté fresco y
                  sabroso.</li>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cerrar</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-6 col-md-4">
        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#Ramen">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Ramen</h1>
          <img src="../../public/carbonara.png" class="card-img-top" alt="" title="Ver receta">
        </button>
        <div class="modal fade" id="Ramen" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
          aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Barra de Granola</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <li> Ingredientes:
                  Para el caldo:
                  1 litro de caldo de pollo o de cerdo (puedes usar cubos de caldo si lo prefieres)
                  2 dientes de ajo, picados
                  1 trozo de jengibre fresco (unos 2-3 cm), en rodajas
                  2 cucharadas de pasta de miso (blanco o rojo, según tu gusto)
                  2 cucharadas de salsa de soja
                  1 cucharada de mirin (opcional, para un toque de dulzura)
                  1 cucharada de aceite de sésamo (ajustar al gusto)
                  Para los fideos:
                  200 g de fideos de ramen (pueden ser frescos o secos)
                  Para los acompañamientos:
                  2 huevos (opcional, cocidos a baja temperatura o duros)
                  100 g de brotes de bambú en conserva (opcional)
                  100 g de setas shiitake o champiñones, en rodajas
                  2 cebollas verdes, picadas
                  1 zanahoria, en rodajas finas (opcional)
                  Hojas de espinaca o bok choy (opcional)
                  Rodajas de cerdo asado o pollo (opcional)
                  Algas nori (opcional)
                  Semillas de sésamo tostadas (opcional)
                </li>
                <li> Instrucciones:
                  Preparar el caldo: En una olla grande, calienta el aceite de sésamo a fuego medio.
                  Añade el ajo y el jengibre y cocina por un par de minutos hasta que estén fragantes.
                  Agrega el caldo de pollo o cerdo y lleva a ebullición.
                  Reduce el fuego y añade la pasta de miso, la salsa de soja y el mirin. Revuelve bien hasta que la
                  pasta de miso se disuelva completamente.
                  Cocina a fuego lento durante unos 10-15 minutos para que los sabores se mezclen. Ajusta el sabor con
                  más salsa de soja o miso si es necesario.
                  Preparar los fideos: Cocina los fideos de ramen según las instrucciones del paquete. Escúrrelos y
                  resérvalos.
                  Preparar los acompañamientos:
                  Cocina los huevos (si los usas) a tu gusto. Para huevos a baja temperatura, cocínalos en agua
                  hirviendo durante unos 6-7 minutos, luego enfríalos en un recipiente con agua fría y pélalos.
                  En una sartén, saltea las setas y la zanahoria hasta que estén tiernas. También puedes añadir las
                  espinacas o bok choy en los últimos minutos de cocción si las usas.
                  Montar el ramen:
                  Divide los fideos cocidos en los tazones.
                  Vierte el caldo caliente sobre los fideos.
                  Agrega los acompañamientos (brotes de bambú, setas, cebollas verdes, etc.).
                  Si usas huevos, córtalos por la mitad y colócalos sobre el ramen.
                  Decora con rodajas de cerdo o pollo, algas nori y semillas de sésamo tostadas si lo deseas.
                </li>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cerrar</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-6 col-md-4">
        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#quesadilla">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Quesadillas</h1>
          <img src="../../public/quesadilla.png" class="card-img-top" alt="" title="Ver receta">
        </button>
        <div class="modal fade" id="Ramen" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
          aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <li> Ingredientes:
                  Para el caldo:
                  1 litro de caldo de pollo o de cerdo (puedes usar cubos de caldo si lo prefieres)
                  2 dientes de ajo, picados
                  1 trozo de jengibre fresco (unos 2-3 cm), en rodajas
                  2 cucharadas de pasta de miso (blanco o rojo, según tu gusto)
                  2 cucharadas de salsa de soja
                  1 cucharada de mirin (opcional, para un toque de dulzura)
                  1 cucharada de aceite de sésamo (ajustar al gusto)
                  Para los fideos:
                  200 g de fideos de ramen (pueden ser frescos o secos)
                  Para los acompañamientos:
                  2 huevos (opcional, cocidos a baja temperatura o duros)
                  100 g de brotes de bambú en conserva (opcional)
                  100 g de setas shiitake o champiñones, en rodajas
                  2 cebollas verdes, picadas
                  1 zanahoria, en rodajas finas (opcional)
                  Hojas de espinaca o bok choy (opcional)
                  Rodajas de cerdo asado o pollo (opcional)
                  Algas nori (opcional)
                  Semillas de sésamo tostadas (opcional)
                </li>
                <li>Instrucciones:
                  Preparar el caldo: En una olla grande, calienta el aceite de sésamo a fuego medio.
                  Añade el ajo y el jengibre y cocina por un par de minutos hasta que estén fragantes.
                  Agrega el caldo de pollo o cerdo y lleva a ebullición.
                  Reduce el fuego y añade la pasta de miso, la salsa de soja y el mirin. Revuelve bien hasta que la
                  pasta de miso se disuelva completamente.
                  Cocina a fuego lento durante unos 10-15 minutos para que los sabores se mezclen. Ajusta el sabor con
                  más salsa de soja o miso si es necesario.
                  Preparar los fideos:
                  Cocina los fideos de ramen según las instrucciones del paquete. Escúrrelos y resérvalos.
                  Preparar los acompañamientos:
                  Cocina los huevos (si los usas) a tu gusto. Para huevos a baja temperatura, cocínalos en agua
                  hirviendo durante unos 6-7 minutos, luego enfríalos en un recipiente con agua fría y pélalos.
                  En una sartén, saltea las setas y la zanahoria hasta que estén tiernas. También puedes añadir las
                  espinacas o bok choy en los últimos minutos de cocción si las usas.
                  Montar el ramen:
                  Divide los fideos cocidos en los tazones.
                  Vierte el caldo caliente sobre los fideos.
                  Agrega los acompañamientos (brotes de bambú, setas, cebollas verdes, etc.).
                  Si usas huevos, córtalos por la mitad y colócalos sobre el ramen.
                  Decora con rodajas de cerdo o pollo, algas nori y semillas de sésamo tostadas si lo deseas.
                </li>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cerrar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-4">
        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#semillas">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Ensalada con sésamo</h1>
          <img src="../../public/semillas.png" class="img-fixed rounded" alt="semillas" title="Ver receta">
        </button>
        <div class="modal fade" id="semillas" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
          aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <li> Ingredientes:
                  Para la ensalada: 1 pepino grande, pelado y en rodajas finas
                  1 zanahoria, pelada y en rodajas finas (puedes usar un rallador para hacer tiras finas si prefieres)
                  1 pimiento rojo, en tiras finas
                  1 taza de brotes de soja (opcional)
                  1 taza de espinacas frescas o lechuga mixta
                  1 aguacate, en cubos
                  2 cebollas verdes, picadas
                  1/4 taza de semillas de sésamo tostadas
                  Para el aderezo:
                  2 cucharadas de aceite de sésamo (puedes usar aceite vegetal si prefieres un sabor más suave)
                  2 cucharadas de salsa de soja
                  1 cucharada de vinagre de arroz o vinagre de manzana
                  cucharadita de miel o jarabe de arce (ajustar al gusto)
                  1 diente de ajo, finamente picado o rallado
                  1 cucharadita de jengibre fresco rallado (opcional)
                  1 cucharadita de semillas de sésamo tostadas (opcional, para añadir al aderezo)
                </li>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cerrar</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-6 col-md-4">
        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#semillas">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Ensalada con sésamo</h1>
          <img src="../../public/salmon.png" class="img-fixed rounded" alt="semillas" title="Ver receta">
        </button>
        <div class="modal fade" id="semillas" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
          aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
  
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <li> Ingredientes:
                  Para la ensalada:
                  1 pepino grande, pelado y en rodajas finas
                  1 zanahoria, pelada y en rodajas finas (puedes usar un rallador para hacer tras finas si prefieres)
                  1 pimiento rojo, en tiras finas
                  1 taza de brotes de soja (opcional)
                  1 taza de espinacas frescas o lechuga mixta
                  1 aguacate, en cubos
                  2 cebollas verdes, picadas
                  1/4 taza de semillas de sésamo tostadas
                  Para el aderezo:
                  2 cucharadas de aceite de sésamo (puedes usar aceite vegetal si prefieres un sabor más suave)
                  2 cucharadas de salsa de soja
                  1 cucharada de vinagre de arroz o vinagre de manzana
                  1 cucharadita de miel o jarabe de arce (ajustar al gusto)
                  1 diente de ajo, finamente picado o rallado
                  1 cucharadita de jengibre fresco rallado (opcional)
                  1 cucharadita de semillas de sésamo tostadas (opcional, para añadir al aderezo)
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cerrar</button>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>


  </div>
</Layout>
